@model IEnumerable<PhamTungSon_K22CNT1.Models.Pts_SACH>

@{
    ViewBag.Title = "PtsIndex";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "PtsCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pts_TenSach)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pts_SoTrang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pts_NamXB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pts_TrangThai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pts_TACGIA.Pts_TenTacGia)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Pts_TenSach)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pts_SoTrang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pts_NamXB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pts_TrangThai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pts_TACGIA.Pts_TenTacGia)
        </td>
        <td>
            @Html.ActionLink("PtsEdit", "PtsEdit", new { id=item.Pts_MaSach.Trim() }) |
            @Html.ActionLink("PtsDetails", "PtsDetails", new { id=item.Pts_MaSach.Trim() }) |
            @Html.ActionLink("PtsDelete", "PtsDelete", new { id=item.Pts_MaSach.Trim() })
        </td>
    </tr>
}

</table>
